{% extends 'base.html' %}

{% block title %}Chatod &trade; - Chat{% endblock %}

{% block body %}
<a id="record" href="#">
    <img src="{{ url_for('static', filename='img/rec.png') }}" alt="" width="200">
</a>

<h2 align="center" id="messages"></h2>

<p id="text"></p>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var final_transcript = '';

        if (!('webkitSpeechRecognition' in window)) {
            $('#messages').html('Speech recognition non supportato').show();
        }

        $('#record').on('click', function (ev) {
            ev.preventDefault();
            final_transcript = '';

            $('#record img').addClass('recording');
            $('#messages').html('Sto ascoltando...').show();

            var recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = true;
            recognition.lang = 'it-IT';

            recognition.onstart = function () {
                $('#text').hide();
                $('#messages').html('Sto ascoltando...').show();
            }

            recognition.onresult = function (event) {
                var interim_transcript = '';

                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                    } else {
                        interim_transcript += event.results[i][0].transcript;
                    }
                }

                final_transcript = final_transcript;
            }

            recognition.onerror = function (event) {
                console.log(event);
            }

            recognition.onend = function () {
                console.log(final_transcript);

                $('#record img').removeClass('recording');
                $('#messages').show().html('Loading...');

                $.ajax({
                    url: '/testgpt',
                    method: 'GET',
                    data: {
                        prompt: final_transcript
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);

                        new Audio(data.mp3).play();

                        $('#messages').hide();
                        $('#text').show().html(data.txt.replace(/&/g, '&amp;')
                            .replace(/</g, '&lt;')
                            .replace(/>/g, '&gt;')
                            .replace(/"/g, '&quot;')
                            .replace(/'/g, '&#039;')
                            .replace(/\n/g, '<br>'))
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);
                        $('#messages').html('Errore').show();
                    }
                })
            }

            recognition.start();
        });
    });
</script>
{% endblock %}